@import "../Base/Variables.scss";
@import "../Base/Mixins.scss";

.about {
	min-height: 720px;

	background-color: $background-color;
	&__img {
		grid-row: 1/3;
		background: url("../../Image/about-bg.jpg") no-repeat 50% / cover;
	}
	&__block {
		display: grid;
		position: absolute;
		column-gap: 70px;
		margin-top: 120px;
		height: 600px;
		grid-template: minmax(243px, auto) minmax(357px, auto) / 400px 570px;
	}

	&__inform {
		padding: 11px 9px 7px 0;
	}
	& .title_fz16 {
		padding-left: 12px;
	}
	&__subtitle {
		position: relative;
		z-index: 2;
		@include before_circle;
	}
	
	&__text {
		font-family: "Lato Medium";
		font-size: 14px;
		line-height: 21px;
		margin-top: 16px;
		color: $text-color;
		span {
			color: $main-color;
			font-weight: 700;
			font-size: 14px;
		}
	}
	.divider {
		span {
			margin: 0;
		}
	}
	&__technologies {
		margin-top: 68px;
		display: grid;
		position: relative;
		grid-template: repeat(2, minmax(116px, auto)) / repeat(2, 264px);
		gap: 22px 40px;
		align-content: center;
	}
	&__technology {
		position: relative;
		padding-left: 58px;
	}
	&__icon {
		position: absolute;
		transform: translate(-190%, 15%);
		@include before_circle;
		img {
			width: 30px;
			height: 34px;
			align-items: center;
			transform: translate(52%, -15%);
		}
	}
	&__content{
		&-tech {
			margin-top: 6px;
			font-size: 12px;
			line-height: 18px;
			color: $text-color;
			font-family: "Lato Medium";
		}
	}
}

@media (max-width: 1200px) {
	.about {
		height: 742px;
		&__block {
			column-gap: 34px;
			grid-template-columns: 400px 525px;
			height: 622px;
		}
		&__inform {
			padding-right: 4px;
		}
		&__technologies {
			gap: 20px 20px;
			grid-template: repeat(2, minmax(116px, auto)) / repeat(2, 252px);
		}
	}
}

@media (max-width: 992px) {
	.about {
		height: inherit;
		&__block {
			grid-template: minmax(228px, auto) minmax(357px, auto) / 300px 390px;
			column-gap: 15px;
			height: 600px;
		}
		&__technologies {
			gap: 12px 20px;
			grid-template: repeat(3, minmax(116px, auto)) / repeat(1, 390px);
			margin-top: 10px;
		}
		&__img {
			grid-row: 2/3;
			background: url("../../Image/about-bg.jpg") no-repeat 50% / cover;
		}
		&__content {
			grid-column: 1/3;
		}
	}
}

@media (max-width: 768px) {
	.about {
		min-height: 743px;
		&__text {
			line-height: 20px;
		}
		&__block {
			grid-template: minmax(228px, auto) minmax(357px, auto) / 219px 324px;
			min-height: 606px;
			row-gap: 37px;
		}
		&__img {
			height: 358px;
		}
		&__icon {
			&:before {
				height: 31px;
				width: 31px;
			}
		}
		&__technologies {
			margin-top: 0;
			gap: 18px 20px;
			grid-template: repeat(3, minmax(99px, auto)) / repeat(1, 305px);
		}
		&__content {
			&-tech {
				margin-top: 3px;
			}
		}
	}
}

@media (max-width: 576px) {
	.about {
		min-height: 1031px;
		&__block {
			grid-template: 340px 1fr 1fr/1fr;
			column-gap: 0;
			margin-top: 30px;
			padding: 0 10px 0 10px;
		}
		&__img {
			grid-row: 1/2;
		}
		&__technologies {
			grid-template: repeat(3, minmax(99px, auto)) / 1fr;
		}
		&__inform {
			padding-right: 0px;
			padding-bottom: 0;
		}
	}
}

@media (max-width: 525px) {
	.about {
		min-height: 1022px;
	}
}

@media (max-width: 480px) {
	.about {
		min-height: 1022px;
	}
}
@media (max-width: 454px) {
	.about {
		min-height: 1092px;
	}
}

@media (max-width: 400px) {
	.about {
		min-height: 1094px;
	}
}

@media (max-width: 384px) {
	.about {
		min-height: 1142px;
	}
}
@media (max-width: 350px) {
	.about {
		min-height: 1178px;
	}
}
