@import "../Base/Variables.scss";

.fixed {
	position: fixed;
}
.pageup {
	display: block;
	position: fixed;
	bottom: 40px;
	right: 40px;
	width: 40px;
	height: 40px;
	background-color: $background-color;
	border-radius: 100%;
	border: 2px solid  $main-color;
	opacity: 1;
	visibility: visible;
	transition: all 0.6s;
	cursor: pointer;
	img {
		width: 100%;
	}
}

.hidden {
	opacity: 0;
	visibility: hidden;
	bottom: -7%;
	transition: all 0.6s;

}

