@import "../Base/Variables.scss";
@import "../Base/Mixins.scss";

.education {
	padding-top: 120px;
	&__column {
		display: flex;
		flex-direction: column;
		width: 720px;
		&-title {
			padding-left: 35px;
			position: relative;
			margin-top: 60px;
			&:before {
				content: "";
				position: absolute;
				height: 15px;
				width: 15px;
				background-color: $main-color;
				border: 1px solid #91c9ff;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	ul {
		list-style-type: none;
	}
	li {
		position: relative;
		padding-left: 145px;
	}
	&__line-two {
		position: absolute;
		height: 1px;
		width: 157px;
		top: -16px;
		left: 37px;
		background: $main-color;
		transform: rotate(-90deg) translate(-27%, -10706%);
	}
	&__item {
		position: relative;
		&:before {
			content: "";
			height: 1px;
			width: 147px;
			position: absolute;
			top: 36px;
			left: -142px;
			background-color: #91c9ff;
			transform: rotate(-201deg);
		}
	}
	&__direction {
		position: absolute;
		height: 30px;
		width: 25px;
		left: -78px;
		top: 2px;
		&-position {
			top: 5px;
			left: -81px;
		}
	}
	&__title {
		position: relative;
		text-align: center;
		@include before_circle;
		&:before {
			top: -6;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&__subtitle {
		text-align: center;
	}
	&__item {
		&-head {
			position: relative;
		}
		&-icon {
			transform: translate(0, 15%);

			position: absolute;
			@include before_circle;
			img {
				width: 30px;
				height: 34px;
				align-items: center;
				transform: translate(52%, -15%);
			}
		}
	}
	&__finished {
		margin-top: 45px;
		margin-left: 56px;
		width: 250px;
	}
	&__degree {
		width: 250px;
		margin-left: 56px;
		font-family: "Lato Medium";
		font-size: 12px;
		line-height: 18px;
		color: $text-color;
		span {
			color: $main-color;
			font-weight: 700;
			font-size: 16px;
		}
	}
	&__wrapper {
		display: flex;
		justify-content: center;
	}
	&__box {
		position: relative;
		&:after {
			content: "";
			position: absolute;
			height: 15px;
			width: 15px;
			background-color: #91c9ff;
			border: 1px solid #91c9ff;
			left: 6px;
			top: 539px;
		}
		span {
			display: block;
			position: absolute;
			height: 1px;
			width: 328px;
			background-color: #91c9ff;
			/* border: 1px solid #91c9ff; */
			left: 22px;
			top: 547px;
		}
	}
	&__img {
		width: 341px;
		height: 479px;
		margin-top: 65px;
		object-fit: cover;
		transform: translateX(2%);
	}
	&__body {
		width: 475px;
		margin-top: 12px;
		font-family: "Lato Medium";
		font-size: 12px;
		line-height: 19px;
		color: $text-color;
	}
}

@media (max-width: 992px) {
	.education {
		&__box {
			&:after {
				content: "";
				display: none;
			}
			span {
				display: none;
			}
		}
		&__img {
			display: none;
		}
	}
}
@media (max-width: 768px) {
	.education {
		&__body {
			width: 100%;
		}
		&__column {
			&-title {
				&:before {
					left: 6px;
				}
			}
		}
		&__line {
			&-two {
				width: 175px;
				left: 34px;
				top: -11px;
			}
		}
		&__item {
			&:before {
				top: 41px;
				left: -137px;
				transform: rotate(-205deg);
				width: 144px;
			}
		}
		&__direction {
			top: 8px;
			&-position {
				top: 11px;
			}
		}
	}
}
@media (max-width: 575px) {
	.education {
		&__column {
			width: 100%;
			&-title {
				&:before {
					content: "";
					height: 16px;
					top: 43%;
				}
			}
		}
		li {
			&:after {
				content: "";
				width: 1px;
				height: 150%;
				position: absolute;
				top: -53px;
				left: 14px;
				background-color: #91c9ff;
			}
		}
		&__line {
			&-two {
				display: none;
			}
		}
		&__item {
			&:before {
				top: 23px;
				left: -46px;
				transform: rotate(-218deg);
				width: 51px;
			}
		}
	
		li {
			padding-left: 55px;
		}
		&__finished {
			width: 73%;
		}
		&__degree {
			width: 82%;
		}
		&__direction {
			display: none;
		}
	}
}
@media (max-width: 530px) {
	.education {
		li {
			&:after {
				height: 143%;
			}
		}
	}
}
@media (max-width: 433px) {
	.education {
		li {
			&:after {
				height: 137%;
				top: -53px;
			}
		}
	}
}
@media (max-width: 363px) {
	.education {
		li {
			&:after {
				height: 130%;
				top: -53px;
			}
		}
	}
}
