@import "./Variables.scss";

@mixin before_circle {
	&:before {
		content: "";
		position: absolute;
		 z-index: -1; 
		top: -7px;
		left: 0;
		width: 36px;
		height: 36px;
		background: transparent;
		border: 1px solid $main-color;
		outline: none;
	}
}
