@import "../Base/Variables.scss";

.privacy {
	display: none;
	width: 100%;
	z-index: 10000;
	position: absolute;
	left: -100%;
	top: 0;
	background: white;
	&__btn {
		position: absolute;
		width: 50px;
		height: 50px;
		right: 20px;
		margin-top: 20px;
		cursor: pointer;
		&:hover {
			height: 45px;
			transition: 0.6s ease-in-out;
		}
	}
	h1 {
		font-family: "Lato Bold";
		margin-top: 120px;
		font-size: 42px;
		line-height: 52px;
		padding: 0 10px;
	}
	h2 {
		font-family: "Lato Bold";
		margin-top: 25px;
		font-size: 28px;
		line-height: 38px;
		padding: 0 10px;
	}
	p {
		margin-top: 15px;
		line-height: 22px;
		padding: 0 10px;
		font-family: "Lato Medium";
		font-size: 16px;
	}
}
.visible {
	display: block;
	position: absolute;
	background: white;
	padding-bottom: 120px;
	width: 100%;
	top: 0;
	left: 0;
}
@media (max-width: 575px) {
	.privacy {
		width: 100%;
		&__btn {
			right: 9px;
		}
		h1 {
			font-size: 30px;
			line-height: 40px;
		}
		h2 {
			font-size: 24px;
			line-height: 34px;
		}
	}
	.visible {
		padding: 0 0 40px 0;
	}
}
