@import "../Base/Mixins.scss";

.mypromo {
	height: 72vh;
	position: relative;
	background: url("../../Image/main-bg2.png") no-repeat 50% / cover;
	padding-top: 205px;

	&__title {
		width: 450px;
		margin-top: 10px;
	}

	&__subtitle {
		position: relative;
		z-index: 2;
		@include before_circle;
	}

	&__btns {
		margin-top: 25px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 280px;
	}
	&__link {
		color: #fff;
		font-family: "Lato Bold";
		text-decoration: none;
		&:hover {
			color: #fff;
			text-decoration: none !important;
		}
	}
}

@media (max-width: 768px) {
	.mypromo {
		&__title {
			width: 335px;
		}
		.center {
			.btn {
				&:hover {
					transition: none;
					background: none;
				}
			}
		}
	}
}

@media (max-width: 576px) {
	.mypromo {
		background: url(http://localhost:3000/static/media/main-bg2.6d6257756790d8aeaa53.png) no-repeat 59% / cover;
		&__subtitle {
			margin-left: 10px;
		}
		&__title {
			margin-left: 10px;
			width: 272px;
		}
		&__btns {
			margin-top: 30px;
		}
		.btn {
			margin-left: 10px;
		}
	}
}
