@import "../Base/Variables.scss";

.hamburger {
	position: absolute;
	top: 20px;
	right: 30px;
	height: 21px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	z-index: 9;
	cursor: pointer;
	span.right {
		display: block;
		width: 30px;
		height: 3px;
		background: white;
		border-color: $main-color;
	}
	&:hover {
		span.right {
			width: 25px;
			transition: 0.6s ease-in-out;
		}
	}
	span.left {
		display: block;
		width: 30px;
		height: 3px;
		background: white;
	}
	&:hover {
		span.left {
			width: 25px;
			transition: 0.6s ease-in-out;
		}
	}
	span.long {
		display: block;
		width: 36px;
		height: 3px;
		background: white;
	}
	&:hover {
		span.long {
			width: 31px;
			transition: 0.6s ease-in-out;
		}
	}
}

@media screen and (max-width: 576px) {
	.hamburger {
		right: 15px;
	}
}
