@import "./Componets/Base/Variables.scss";

.hamburger {
	position: absolute;
	top: 20px;
	right: 30px;
	height: 21px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	z-index: 9;
	cursor: pointer;
	span.right {
		display: block;
		width: 30px;
		height: 3px;
		background: $main-color;
	}
	&:hover {
		span.right {
			background: white;
			transition: 0.2s ease-in-out;
		}
	}

	span.left {
		display: block;
		width: 30px;
		height: 3px;
		background: $main-color;
	}
	&:hover {
		span.left {
			background: white;
			transition: 0.2s ease-in-out;
		}
	}

	span.long {
		display: block;
		width: 36px;
		height: 3px;
		background: $main-color;
	}
	&:hover {
		span.long {
			transition: 0.2s ease-in-out;
			background: white;
		}
	}
}
