@import "../Base/Variables.scss";
@import "../Base/Mixins.scss";

.contacts {
	background-color: $background-color;
	padding: 120px 0 90px 0;
	&__wrapper {
		padding: 0 35px 0 52px;
		display: grid;
		grid-template-columns: 400px 585px;
		justify-content: space-between;
		column-gap: 20px;
	}
	&__photo {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__descr {
		position: relative;
		z-index: 2;
		@include before_circle;
	}
	.divider {
		span {
			margin: 0;
		}
	}
	&__text {
		font-family: "Lato Bold";
		margin-top: 20px;
	}
	&__social {
		margin-top: 20px;
	}
	&__socials {
		display: flex;
	}
	&__social {
		margin-right: 20px;
	}
	&__links {
		img {
			max-width: 30px;
			max-height: 30px;
		}
		.size {
			height: 30px;
			width: 30px;
		}
	}
	&__form {
		margin-top: 30px;
		display: grid;
		grid-template: 45px 190px 45px / repeat(2, 280px);
		justify-content: space-between;
		row-gap: 27px;
		color: white;
		column-gap: 20px;

		label {
			display: block;
			position: absolute;
			font-family: "Lato Medium";
			display: block;
			position: absolute;
			height: 18px;
			padding: 0 8px;
			font-size: 12px;
			top: -17px;
		}
	}
	&__input {
		position: relative;
		input {
			width: 85%;
			height: 100%;
			padding: 0 20px;
			font-size: 12px;
		}
	}
	&__textarea {
		position: relative;
		grid-column: 1 / 3;
		textarea {
			width: 93%;
			height: 78%;
			resize: none;
			padding: 20px;
			font-size: 12px;
		}
		label {
			top: -17px;
		}
	}
	&__btn {
		margin-top: -8px;
	}
	&__btn {
		width: 245px;
		svg {
			width: 245px;
			height: 45px;
		}
	}
}
.swal {
	&-overlay {
		background-color: rgb(0 0 0 / 78%);
	}
	&-modal {
		padding: 16px 0;
		border-radius: 0;
	}
	&-title {
		font-family: "Lato Bold" !important;
		color: black;
	}
	&-text {
		font-family: "Lato Medium";
		color: black;
	}
	&-button {
		background-color: $main-color;
		border-radius: 0;
		font-weight: 300;
		font-size: 16px;
		appearance: none;
	}
	&-footer {
		background-color: rgb(245, 248, 250);
		margin-top: 32px;
		border-top: 1px solid #e9eef1;
		overflow: hidden;
	}
}

@media (max-width: 1200px) {
	.contacts {
		&__photo {
			width: 367px;
			height: 100%;
			img {
				height: 600px;
			}
		}
		&__form {
			justify-content: normal;
			column-gap: 15px;
			grid-template: 45px 190px 45px / repeat(2, 1fr);
		}
		&__wrapper {
			padding: 0px 2px 0 2px;
			grid-template-columns: 385px 544px;
			column-gap: 20px;
		}
		&__input {
			input {
				width: 220px;
			}
		}
		&__textarea {
			textarea {
				width: 502px;
			}
		}
		.center {
			width: 246px;
		}
	}
}

@media (max-width: 992px) {
	.contacts {
		&__wrapper {
			padding: 0px 2px 0 2px;
			grid-template-columns: 1fr;
			justify-content: center;
		}
		&__input {
			input {
				width: 307px;
			}
		}
		&__textarea {
			textarea {
				width: 675px;
			}
		}
		&__photo {
			display: none;
		}
		.center {
			.btn {
				&:hover {
					transition: none;
					background: none;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.contacts {
		&__input input {
			width: 217px;
		}
		&__textarea {
			textarea {
				width: 496px;
			}
		}
	}
}

@media (max-width: 576px) {
	.contacts {
		&__wrapper {
			padding: 0px 51px 0 10px;
		}
		&__form {
			grid-template: 45px 45px 190px 45px / 1fr;
		}
		&__input {
			justify-content: center;
			grid-column: 1/2;
			input {
				width: 100%;
				padding: 0 19px;
			}
		}
		&__textarea {
			justify-content: center;
			label {
				top: -17px;
			}
			grid-column: 1/2;
			textarea {
				width: 100%;
				padding: 20px 20px;
			}
		}
	}
}
